.banner {
    height: max-content;
    padding: 10px;
    background-image: linear-gradient(to right, skyblue, yellow);
}

.main-container {
    display: flex;

}

#search-button {
    background-color: lightblue;
    width: 100%;
}

.divider {
    width: 100%;
    height: 3px;
}